{%- macro fqdn(value) -%}
    {{- value if value.endswith('.') else (value ~ '.') -}}
{%- endmacro -%}

{%- set _soa_email = zonefile.soa.email.split('@') -%}
{%- set _soa_email = _soa_email[0].replace('.', '\.') ~ '.' ~ _soa_email[1] ~ '.' -%}

; Managed by SaltStack
$ORIGIN {{ fqdn(zonefile_name) }}
$TTL {{ zonefile.default_ttl }}

@ IN SOA {{ fqdn(zonefile.soa.nameserver) }} {{ _soa_email }} (
    {{ zonefile.soa.serial }} ; Serial
    {{ zonefile.soa.refresh }} ; Refresh
    {{ zonefile.soa.retry }} ; Retry
    {{ zonefile.soa.expire }} ; Expire
    {{ zonefile.soa.negative_ttl }} ; Negative TTL
)
{##}
{%- for _record_name, _records in zonefile.records|dictsort %}
{%- for _record in salt['custom.dict_list_to_property_list'](_records)|sort(attribute='key') %}
{%- set _record_type, _record_data = _record.key, _record.value %}

{%- if _record_type.upper() == 'TXT' %}
{{ _record_name }} IN TXT ("{{ (_record_data|wordwrap(255, wrapstring='\n')).split('\n')|join('" "') }}")
{%- else %}
{{ _record_name }} IN {{ _record_type }} {{ _record_data }}
{%- endif %}
{%- endfor %}
{%- endfor %}
