# Managed by SaltStack
object Zone "global" {
}

object Zone "{{ grains['fqdn'] }}" {
	endpoints = [ "{{ grains['fqdn'] }}" ]
	parent = "master"
}

object Endpoint "{{ grains['fqdn'] }}" {
	host = "{{ grains['fqdn'] }}"
}

object Zone "master" {
	endpoints = [ "{{ vars.master_fqdn }}" ]
}

object Endpoint "{{ vars.master_fqdn }}" {
	host = "{{ vars.master_host or vars.master_fqdn }}"
}
