# Managed by SaltStack
[Unit]
Description=ACME DNS Server
After=network.target

[Service]
User={{ vars.service_user }}
AmbientCapabilities=CAP_NET_BIND_SERVICE
ExecStart={{ (vars.service_dir ~ '/acme-dns')|quote }} -c {{ (vars.service_dir ~ '/config.cfg')|quote }}
Restart=on-failure

[Install]
WantedBy=multi-user.target
