# Managed by SaltStack
[general]
listen = "{{ vars.listen_address }}"
protocol = "{{ vars.listen_protocol }}"
domain = "{{ vars.dns_domain }}"
nsname = "{{ vars.dns_nsname }}"
nsadmin = "{{ vars.dns_nsadmin|replace('@', '.') }}"
records = [
{%- for _record in vars.dns_records %}
  "{{ _record }}",
{%- endfor %}
]
debug = false

[database]
engine = "sqlite3"
connection = "{{ vars.service_dir }}/acme-dns.db"

[api]
ip = "{{ vars.api_host }}"
port = "{{ vars.api_port }}"
autocert_port = "{{ vars.api_letsencrypt_port }}"
api_domain = "{{ vars.api_domain }}"

tls = "{{ 'letsencrypt' if vars.api_letsencrypt_enabled else 'none' }}"
acme_cache_dir = "{{ vars.service_dir }}/api-certs"
corsorigins = ["{{ vars.api_cors_origins|join('", "') }}"]
disable_registration = {{ 'false' if vars.api_registration_enabled else 'true' }}
use_header = {{ 'true' if vars.api_xff_enabled else 'false' }}
header_name = "{{ vars.api_xff_header }}"

[logconfig]
loglevel = "{{ vars.logging_level }}"
logtype = "stdout"
logformat = "text"
