# Managed by SaltStack
object Zone "saltstack" {
}

object Zone "master" {
    endpoints = [ "{{ grains['fqdn'] }}" ]
}

object Endpoint "{{ grains['fqdn'] }}" {
    host = "{{ grains['fqdn'] }}"
}

function RemoteNode(RemoteNodeName) {
    object Endpoint RemoteNodeName use (RemoteNodeName) {
        host = RemoteNodeName
    }

    object Zone RemoteNodeName use(RemoteNodeName) {
        endpoints = [ RemoteNodeName ]
        parent = "master"
    }
}

{%- for _minion, _minion_grains in salt['mine.get']('icinga:managed:true', 'grains.item', 'pillar')|dictsort %}
{%- if loop.first %}{{ '\n' }}{%- endif %}
RemoteNode("{{ _minion_grains['fqdn'] }}")
{%- endfor %}
