# Managed by SaltStack
object Zone "global" {
}

object Zone "master" {
    endpoints = [ "{{ grains['fqdn'] }}" ]
}

object Endpoint "{{ grains['fqdn'] }}" {
    host = "{{ grains['fqdn'] }}"
}

function RemoteNode(RemoteNodeName) {
    object Endpoint RemoteNodeName use (RemoteNodeName) {
        host = RemoteNodeName
    }

    object Zone RemoteNodeName use(RemoteNodeName) {
        endpoints = [ RemoteNodeName ]
        parent = "master"
    }
}

{%- for _fqdn in icinga.client_nodes|reject('equalto', grains['fqdn'])|sort %}
{%- if loop.first %}{{ '\n' }}{%- endif %}
RemoteNode("{{ _fqdn }}")
{%- endfor %}
