{%- macro render_interface(_name, _options) -%}
{%- set _properties = salt['ss.parse_properties_list'](_options) -%}
{%- set _family = _properties|selectattr('key', 'equalto', 'family')|map(attribute='value')|list|last|default(None) -%}
{%- set _method = _properties|selectattr('key', 'equalto', 'method')|map(attribute='value')|list|last|default(None) -%}

auto {{ _name }}

{%- if _family or _method %}
iface {{ _name }} {{ _family or 'inet' }} {{ _method or 'none' }}
{%- else %}
iface {{ _name }}
{%- endif %}

{%- for _property in _properties %}
{%- if _property.key not in ('family', 'method') %}

{%- if _property.value is sequence and _property.value is not string %}
  {{ _property.key }} {{ _property.value|join(' ') }}
{%- else %}
  {{ _property.key }} {{ _property.value }}
{%- endif %}

{%- endif %}
{%- endfor %}
{%- endmacro -%}

{%- if interface_name is defined and interface is defined -%}
# Managed by SaltStack
{{ render_interface(interface_name, interface) }}
{%- endif -%}
