# Managed by SaltStack
user {{ role.service_user }};
worker_processes {{ role.worker_processes }};
pid {{ role.pidfile_path }};

{%- for _include in role.global_config_includes %}
  include {{ _include }};
{%- endfor %}

events {
  worker_connections {{ role.worker_connections }};
}

http {
  sendfile on;
  tcp_nopush on;
  tcp_nodelay on;
  keepalive_timeout 65;
  types_hash_max_size 2048;

  server_tokens off;
  access_log {{ role.global_access_log_path }};
  error_log {{ role.global_error_log_path }};

  include /etc/nginx/mime.types;
  default_type application/octet-stream;

{%- for _include in role.http_config_includes %}
  include {{ _include }};
{%- endfor %}
  include {{ role.vhosts_dir }}/*.conf;
}
