{%- import 'ssl-cert/macros.sls' as sslcert -%}
{%- set _php_fpm_enabled = vhost_config.php_fpm_pool and vhost_config.php_fpm_version -%}

{%- macro certs_path(name) -%}
  {{- vars.certs_dir ~ '/' ~ name.split('.')[-2:]|join('.') -}}
{%- endmacro -%}

# Managed by SaltStack
{%- if vhost_config.ssl_enabled and vhost_config.ssl_forced %}
server {
  listen {{ vhost_config.http_port }}{{ ' default' if vhost_config.default else '' }};
  listen [::]:{{ vhost_config.http_port }}{{ ' default' if vhost_config.default else '' }};
{%- if vhost_config.server_names %}
  server_name {{ vhost_config.server_names|join(' ') }};
{%- endif %}

  return 301 https://$host$request_uri;
}
{{- '\n' -}}
{%- endif %}

{%- if vhost_config.server_names|count >= 2 and vhost_config.ssl_enabled %}
{%- for _vhost_alias in vhost_config.server_names[1:] %}
server {
  listen {{ vhost_config.https_port }}{{ ' default' if vhost_config.default else '' }} ssl http2;
  listen [::]:{{ vhost_config.https_port }}{{ ' default' if vhost_config.default else '' }} ssl http2;
  server_name {{ _vhost_alias }};

  ssl_certificate {{ sslcert.safe_certificate(certs_path(_vhost_alias) ~ '.fullchain.crt') }};
  ssl_certificate_key {{ sslcert.safe_keyfile(certs_path(_vhost_alias) ~ '.key') }};
  ssl_trusted_certificate {{ sslcert.safe_certificate(certs_path(_vhost_alias) ~ '.ca.crt') }};

  {% for _header_name, _header_value in vhost_config.headers|dictsort -%}
  {% if _header_name|lower in vhost_config.redirect_headers|map('lower') -%}
  add_header "{{ _header_name }}" "{{ _header_value|replace('"', '\\"') }}" always;
  {% endif -%}
  {% endfor -%}
  return 301 https://{{ vhost_config.server_names[0] }}$request_uri;
}
{{- '\n' -}}
{%- endfor %}
{%- endif %}

{{- '' }}
server {
{%- if not vhost_config.ssl_enabled or not vhost_config.ssl_forced %}
  listen {{ vhost_config.http_port }}{{ ' default' if vhost_config.default else '' }};
  listen [::]:{{ vhost_config.http_port }}{{ ' default' if vhost_config.default else '' }};
{%- endif %}
{%- if vhost_config.ssl_enabled %}
  listen {{ vhost_config.https_port }}{{ ' default' if vhost_config.default else '' }} ssl http2;
  listen [::]:{{ vhost_config.https_port }}{{ ' default' if vhost_config.default else '' }} ssl http2;
{%- endif %}
{%- if vhost_config.server_names %}
  server_name {{ vhost_config.server_names|join(' ') }};
{%- endif %}

  access_log {{ vhost_dir ~ '/log/access.log' }};
  error_log {{ vhost_dir ~ '/log/error.log' }};
{%- if vhost_config.server_names and vhost_config.ssl_enabled %}
  {%- set _certs_path = certs_path(vhost_config.server_names[0]) %}
  ssl_certificate {{ sslcert.safe_certificate(_certs_path ~ '.fullchain.crt') }};
  ssl_certificate_key {{ sslcert.safe_keyfile(_certs_path ~ '.key') }};
  ssl_trusted_certificate {{ sslcert.safe_certificate(_certs_path ~ '.ca.crt') }};
{%- endif %}

  client_body_temp_path {{ vhost_dir ~ '/tmp/nginx-client-body' }};
  proxy_temp_path {{ vhost_dir ~ '/tmp/nginx-proxy' }};
  fastcgi_temp_path {{ vhost_dir ~ '/tmp/nginx-fastcgi' }};
  uwsgi_temp_path {{ vhost_dir ~ '/tmp/nginx-uwsgi' }};
  scgi_temp_path {{ vhost_dir ~ '/tmp/nginx-scgi' }};

  root {{ vhost_dir ~ '/app/public' }};
{%- if vhost_config.index_files %}
  index {{ vhost_config.index_files|join(' ') }};
{%- elif _php_fpm_enabled %}
  index index.html index.php;
{%- else %}
  index index.html;
{%- endif %}

  {%- for _header_name, _header_value in vhost_config.headers|dictsort %}
  add_header "{{ _header_name }}" "{{ _header_value|replace('"', '\\"') }}" always;
  {%- endfor %}

  proxy_set_header Host $host;
  proxy_set_header X-Real-IP $remote_addr;
  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  proxy_set_header X-Forwarded-Port $server_port;
  proxy_set_header X-Forwarded-Proto $scheme;
  proxy_cookie_path / "/
    {{- '; HttpOnly' if vhost_config.security.enforce_http_only_cookies else '' -}}
    {{- '; Secure' if vhost_config.security.enforce_secure_cookies else '' -}}
  ";

{%- if 'proxy_target' in vhost_config %}{{ '\n' }}
  location / {
    proxy_pass {{ vhost_config.proxy_target }};
  }
{%- elif _php_fpm_enabled %}{{ '\n' }}
  location ~ \.php {
    include /etc/nginx/fastcgi.conf;

    fastcgi_param PATH_INFO $fastcgi_path_info;
    fastcgi_split_path_info ^(.+\.php)(/.+)$;
    fastcgi_pass unix:{{ vars.php_fpm_socket_path_fmt.format(
      version=vhost_config.php_fpm_version,
      pool=vhost_config.php_fpm_pool
    ) }};
  }
{%- endif %}

{%- for _config_name, _config in vhost_config.custom_configs|dictsort %}{{ '\n' }}
  # Custom Configuration: {{ _config_name }}
  {{ _config|indent(width=2) }}
{%- endfor %}
}
