# Managed by SaltStack
Log notice stdout
Sandbox {{ 1 if vars.use_sandbox else 0 }}

Address {{ vars.address }}
{%- for _port in vars.dir_ports or [0] %}
DirPort {{ _port }}
{%- endfor %}
{%- for _port in vars.or_ports or [0] %}
ORPort {{ _port }}
{%- endfor %}
{%- for _port in vars.extor_ports or [0] %}
ExtORPort {{ _port }}
{%- endfor %}
SocksPort 127.0.0.1:9050

Nickname {{ vars.nickname }}
{%- if vars.contact_info %}
ContactInfo {{ vars.contact_info }}
{%- endif %}

RelayBandwidthRate {{ vars.relay_bandwidth_rate_kbytes }} KBytes
RelayBandwidthBurst {{ vars.relay_bandwidth_burst_kbytes }} KBytes
{%- for _policy in vars.exit_policies %}
ExitPolicy {{ _policy['action'] }} {{ _policy['network'] }}:{{ _policy['ports'] }}
{%- endfor %}
