# Managed by SaltStack
Unattended-Upgrade::Origins-Pattern {
{%- for _pattern in role.origins_pattern %}
  "{{ _pattern }}";
{%- endfor %}
};

Unattended-Upgrade::Package-Blacklist {
{%- for _package in role.package_blacklist %}
  "{{ _package }}";
{%- endfor %}
};

Unattended-Upgrade::Mail "{{ role.mail_address }}";
Unattended-Upgrade::MailOnlyOnError "{{ 'true' if role.mail_only_errors else 'false' }}";

Unattended-Upgrade::MinimalSteps "true";
Unattended-Upgrade::InstallOnShutdown "true";
Unattended-Upgrade::Remove-Unused-Dependencies "true";
Unattended-Upgrade::AutoFixInterruptedDpkg "false";

Unattended-Upgrade::Automatic-Reboot "false";
Unattended-Upgrade::Automatic-Reboot-WithUsers "false";
