# Managed by SaltStack
{%- if vars.search_paths %}
search {{ vars.search_paths|join(' ') }}
{%- endif %}
{%- for _nameserver in vars.nameservers %}
nameserver {{ _nameserver }}
{%- endfor %}
options timeout:{{ vars.resolver_timeout }} attempts:{{ vars.resolver_attempts }}{{ ' rotate' if vars.resolver_round_robin else '' }}
