# Managed by SaltStack
{% for _server in role.servers %}
server {{ _server }} iburst
{% endfor %}

driftfile {{ role.driftfile_path }}
statsdir {{ role.stats_dir }}
statistics loopstats peerstats clockstats
filegen loopstats file loopstats type day enable
filegen peerstats file peerstats type day enable
filegen clockstats file clockstats type day enable

restrict -4 default kod notrap nomodify nopeer noquery
restrict -6 default kod notrap nomodify nopeer noquery
restrict 127.0.0.1
restrict ::1
