[Unit]
Description=JDownloader2 Headless
After=network-online.target

[Service]
Type=simple
User={{ vars.service_user }}
ExecStart={{ vars.java_bin }} -Djava.awt.headless=true -jar "{{ vars.service_dir }}/JDownloader.jar"
Restart=on-failure
RemainAfterExit=yes
Environment=JD_HOME={{ vars.service_dir }}

[Install]
WantedBy=multi-user.target
