{%- set _properties = salt['custom.dict_list_to_property_list'](interface) -%}
{%- set _family = _properties|selectattr('key', 'equalto', 'family')|map(attribute='value')|list|last|default(None) -%}
{%- set _method = _properties|selectattr('key', 'equalto', 'method')|map(attribute='value')|list|last|default(None) -%}

# Managed by SaltStack
auto {{ interface_name }}

{%- if _family or _method %}
iface {{ interface_name }} {{ _family or 'inet' }} {{ _method or 'none' }}
{%- else %}
iface {{ interface_name }}
{%- endif %}

{%- for _property in _properties %}
{%- if _property.key not in ('family', 'method') %}

{%- if _property.value is sequence and _property.value is not string %}
  {{ _property.key }} {{ _property.value|join(' ') }}
{%- else %}
  {{ _property.key }} {{ _property.value }}
{%- endif %}

{%- endif %}
{%- endfor %}
