[Unit]
Description=borgmatic backup

[Service]
Type=oneshot
User={{ borgbackup.service_user }}
ExecStart={{ borgmatic_bin }} \
    --config {{ borgmatic_config|quote }} \
    --stats
